
/*GENERALI PAGINA*/
* {
    margin: 0;
    padding: 0;
    outline: none;
}
a {
	text-decoration:none;
	color:#000;

}
li, li a {
    color:#000; 
    text-decoration:none;
    
}

li:hover { 
    position:relative;
    z-index:2000; 
} 

h2{
    font-size: 14px !important;
}

body{
    height: 100%;
    margin: 0px;
    font-family: Calibri;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body .wrapper{ 
    background-repeat: no-repeat;
    background-position: center center;
    height:100%;
    width: 100%;
}

.content_container{
    height: calc(100% - 60px);
}
.content{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.contentbody{
    height: calc(100% - 5px);
}

 .scheda_container{
    height: calc(100% - 18px);
    margin: 8px;
}

.scheda{
    height: 100%;
    width: 100%;
    position: relative;
}

.schedabody{
   height: calc(100% - 25px);
   overflow: hidden;
}

.schedabody_with_menu_bottom{
   height: calc(100% - 60px);
   overflow: hidden;
}

.block_content{
    width: 98%;
    height: 94%;
    margin: auto;
}

.tables_container{
    overflow: visible !important;
}
.table_container{
    overflow: visible !important;
    position: relative;
}

#tutti_tables_container .table_container{
    padding-top: 0px;
}

#tutti_tables_container .fieldcontainer_edit{
    border-top: 0px;
}

.block_dati_labels_container{
    height: 100%;
    width: 100%;
    margin: auto;
    overflow-y: scroll;
}
  
/*JQUERY UI*/
.ui-state-default{
    background: none !important;
    background-image: none !important;
    
}

.ui-widget-header
{
    background-image: none;
}

/*JQUERY UI TABS*/

.ui-tabs .ui-tabs-panel{
    padding: 0px !important;
    
}
.ui-tabs .ui-tabs-nav li{
    border-bottom: 0px !important;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

.ui-tabs .ui-tabs-nav{
    border: 0px !important;
    
}

.ui-tabs .ui-tabs-nav .ui-corner-top {
    height: 20px;
    line-height: 10px;
}


/*JQUERY UI ACCORDION*/

.ui-accordion-content{
    padding: 0px !important;
}

.ui-button-text-only .ui-button-text {
        padding: 0px;
}

.ui-accordion-header{
    margin-top: 0px !important;
}
.ui-accordion-content {
    border: 0px;
}



/*JQUERY DATATABLE INIZIO*/

.DataTables_sort_wrapper{
    overflow: hidden;
}

.custom-table th {
	padding: 4px;
	text-align: left;
	line-height: 1.3em;
        font-weight: normal !important;
}

.custom-table td {
	padding: 4px 4px 4px;
	vertical-align: center;
}

.dataTables_info {
	padding-top: 3px;
        width: 50%;
	float: left;
}

.dataTables_paginate .ui-button {
	margin-right: -0.1em !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
}

.dataTables_paginate {
	width: auto;
        float: right;
	text-align: right;
}

.custom-table .table_container{
    padding: 0px;
}
/* JQUERY DATATABLE FINE*/



/*POPUP*/
.popup { 
    position: fixed !important;
    display: none;
    padding:10px;
    width:94% !important;
    height: 90% !important;
    top: 4% !important;
    left: 2% !important;
}


/*HEADER*/

#logo_header{
    height: 50px;
    margin: 5px;
}

#menu_pulsanti .btn_fa{
    height: 44px;
    width: 44px;
    font-size: 35px !important;
    line-height: 44px;
}

#menu_pulsanti .btn_fa.btn_fa_scritta{
    height: 44px;
    min-width: 44px;
    width: auto;
    font-size: 20px !important;
    line-height: 44px;
    padding-left: 5px;
    padding-right: 5px;
}

#avatar{
    height: 56px;
    margin-right: 5px;
}

/*CONTENT LOGIN*/
#accedi{
    width: 60px;
    margin: auto;
}

#login .blocco{
    width: 300px;
    margin: auto;
}

/*CONTENT HOME*/
 #home_content
  {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
  }




/*FIELD - CAMPI*/

.fieldcontainer{
    /*height: 45px;*/
}

.fieldcontainer_memo {
    /*height: 90px;*/
}



.fieldcontainer_edit:hover > .fieldContent > .fieldOptions{
    visibility: visible !important;
}

.fieldcontainer_edit:hover > .fieldContent > .fieldValueContainer_edit > .fieldOptions{
    visibility: visible !important;
}

.fieldLabel{
    height: 25px;
    line-height: 25px;
}

.fieldContent{
    line-height: 25px;
}

.fieldcontainer_edit .fieldLabel{
    width: 118px;
    float: left;
    overflow: hidden;
    text-align: right;
    padding-right: 2px;
    /*height: calc(100% - 10px);*/
}
.fieldcontainer_edit .fieldContent{
    float: left;
    width: calc(100% - 122px);
}

.fieldcontainer_edit .fieldValueContainer{
    width: calc(100% - 80px);
    margin-left: 5px;
    float: left;
    /*height: 25px;*/
}

.fieldcontainer_edit .fa{
    font-size: 16px;
    height: 27px;
    line-height: 22px;
    min-width: 20px;
    
}

.fieldcontainer_view .fieldLabel{
    width: 118px;
    float: left;
    overflow: hidden;
    text-align: right;
    padding-right: 2px;
    /*height: calc(100% - 10px);*/
}

.fieldcontainer_view .fieldContent{
    float: left;
    width: calc(100% - 122px);
}

.fieldcontainer_view .fieldValueContainer{
    width: calc(100% - 75px);
    margin-left: 10px;
    float: left;
}

.field{
    height: 25px;
    border: 0px;
    width: calc(100% - 56px);
    float: left;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/*campi con range: data, numeric inizio*/
.fieldRange.fieldValue0{
    width: calc(50% - 28px);
}

.fieldRange.fieldValue1{
     width: calc(50% - 28px);
}
.fieldRange.fieldValue0.inserimento, .fieldRange.fieldValue0.modifica, .fieldRange.fieldValue0.scheda{
    width: calc(100% - 56px);
}

.fieldRange.fieldValue1.inserimento, .fieldRange.fieldValue1.modifica, .fieldRange.fieldValue1.scheda{
    display: none;
}

.fieldDivisore{
    float: left;
    line-height: 25px;
    height: 25px;
    width: 1px;
}

.fieldDivisore.inserimento, .fieldDivisore.modifica, .fieldDivisore.scheda{
    display: none;
}

/*campi con range: data, numeric fine*/


textarea.field{
    height: 75px;
    resize: vertical;
}

/*autocomplete come ad esempio il campo utenti inizio*/
.ui-autocomplete {
    max-height: 400px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}


.autocompleteSpan{
    font-size: 100%;
    cursor: pointer;
}

.autocomplete_icon_small{
    height: 16px;
    width: 16px;
    margin-right: 5px;
}
/*autocomplete come ad esempio il campo utenti fine*/

/*pulsanti di opzione sui campi inizio*/
.fieldOptions{
    visibility: hidden;
    height: 27px;
    line-height: 27px;
}

.fieldOptions ul{
    display: none;
    position: absolute;
    left: -95px;
    top: 95%;
    z-index: 100;
    width: 150px;
}

.fieldOption{
    z-index: 1;
    position: absolute;
    right: 0px;
    visibility: hidden;  
    min-width: 5%;
    height: 25px;
}

.fieldOption:hover > .fiedlOptionIcon{
    display: none;
}

.fieldOption:hover > .fieldMenu{
    display: block;
}

.fieldMenu{
    display: none;
}

.fieldMenu .btn_scritta{
    height: 10px;
    margin-top: 2px;
}
/*pulsanti di opzione sui campi fine*/

/*connettore AND o OR tra tabelle linkate in fase di ricerca*/
.fieldconnector{
    margin-left: 10px;
}



/*DRAG&DROP INIZIO*/
.connectedSortable{
    list-style: none;
    
}

.connectedSortable li{
    margin-top: 3px;
}
/*DRAG&DROP FINE*/


/*ALLEGATI INIZIO*/  
  
  .allegati{
      height: 100%;
  }
  
.file_container{
    margin-bottom: 8px;
    position: relative;
}
  


.allegato_selected{
    width: 96px !important;
}

.card{
    margin: 10px;
    padding: 10px;
}
.file_menu{
    border: 0px !important;
} 

.minithumb{
    background-size: 100% 100%;
}

.thumb{
    background-size: 100% 100%;
    height: 110px;
    width: 100px;
    margin: auto;
}

/*icone estensione file inizio*/
.allegato_tiff{
    background-image: url("images/allegato_tiff.png");
}

.allegato_pdf{
    background-image: url("images/allegato_pdf.png");
}

.allegato_dwg{
    background-image: url("images/allegato_dwg.png");
}

.allegato_doc{
    background-image: url("images/allegato_doc.png");
}

.allegato_xls{
    background-image: url("images/allegato_xls.png");
}

.allegato_jpg{
    background-image: url("images/allegato_jpg.png");
}

.allegato_png{
    background-image: url("images/allegato_png.png");
}

.allegato_mp4{
    background-image: url("images/allegato_mp4.png");
}

/*icone estensione file fine*/

/*ALLEGATI FINE*/

/*FILE UPLOAD INIZIO*/
.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 4px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
/*FILE UPLOAD FINE*/

/*VISUALIZZATORE INIZIO*/

/* no visualizzatore*/
.novisualizzatore{
    background-image: url("images/novisualizzatore.png");
    background-position: center;
    background-repeat: no-repeat;
}

/*VISUALIZZATORE FINE*/
 

/*LABEL DATI INIZIO*/
.tablelabel{
    font-weight: bold !important;
    line-height: 20px;
}

.tablelabel .fa{
    font-size: 18px;
    margin-right: 5px;
}

.label_title{
    float: left;
}

/*LABEL DATI FINE*/

/*MENU SCHEDA INIZIO*/

/*menu big*/
.menu_big{
    padding: 3px;
    height: 25px;
}

.table_container .menu_big{
    padding: 5px;
}

/*menu mid*/
.menu_mid{
    padding: 2px;
    height: 18px;
}

.scheda .menu_mid{
    border: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: calc(100% - 4px);
}



/*menu bottom*/
.scheda .menu_bottom{
    position: absolute;
    bottom: 0px;
    width: calc(100% - 6px);
}

/*menu small*/
.menu_small{
    height: 18px;
    padding: 2px;
    overflow: hidden;
}

/*MENU SCHEDA FINE*/
 


/*ESPORTA RISULTATI*/
#esporta_risultati { 
    display:none; 
    padding:20px;
    width:600px;
    height: 600px;
    overflow: scroll;
}






/*REPORT INIZIO*/
.report{
    width: 100%;
    float: left;
    padding: 5px;
}
/*REPORT FINE*/

.manuale{
    overflow: scroll;
    height: 100%;
}

.manuale img{
    width: 70%;
    min-height: 50px;
    margin: 5px;
    margin-left: 35px;
}

.manuale ul{
    list-style: initial;
    margin: initial;
    padding: 0 0 0 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 40px;
}

.manuale li{
    display: list-item;
    list-style: circle;
}

.manuale h2{
    margin-left: 10px;
    margin-top: 10px;
}

.manuale h3{
    margin-left: 20px;
    margin-top: 10px;
}

.manuale h4{
    margin-left: 30px;
    margin-top: 5px;
}

.manuale div{
    padding: 20px;
    margin: 20px;
    width: 80%;
}

#segnalazioni_container.popup{
    width: 40% !important;
    height: 60% !important;
    margin: auto;
    left: 30% !important;
}

#segnalazioni label{
    display:inline-block;
    width: 150px;
    float: left;
}

#segnalazioni input{
    width: 100px;
}

#segnalazioni textArea{
    width: 400px;
    height: 100px;
}


.hidden{
    display: none;
}

.btn_scritta .fa{
    font-size: 16px;
    margin-right: 5px;
}

.fa{
    cursor: pointer;
    text-align: center;
    transform: none;
}
/*BUTTON - BOTTONI - PULSANTI*/

.btn_fa{
    height: 16px;
    font-size: 18px !important;
    line-height: 14px;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    font-weight: normal !important;
    float: left;
    margin-left: 5px;
    margin-right: 5px;  
    min-width: 25px;
}


.btn_scritta{
    height: 14px;
    line-height: 14px;
    cursor: pointer;
    display: inline-block;
    padding: 3px;
    vertical-align: middle;
    text-align: center;
    font-weight: normal !important;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    
}

.menu_big .btn_scritta{
    height: 18px;
    line-height: 18px;
    float: right;
}

.menu_mid .btn_scritta{
    height: 10px;
    line-height: 10px;
}

.menu_small .btn_scritta{
    height: 18px;
    line-height: 18px;
    min-width: 18px;
    padding: 0;
}

/*MENU LIST - BUTTON LIST*/
.menu_list{
    display: none;
    position: absolute;
    top: 95%;
    z-index: 100;
    width: 250px;
}

.menu_list_container{
    width: 53px;
    overflow: visible;
    float: left;
}
.menu_list_button{
    position: relative;
}

.menu_list li{
    text-align: left;
    height: 20px;
    line-height: 20px;
}



/*SVILUPPO*/

.clearboth{
    clear: both;
}

.develop{
    display: none;  
}

.fc-toolbar h2{
    font-weight: normal !important;
}