.print_fieldValueContainer{
    -moz-appearance: none;
    background-color: white !important;
    border: 0 none;
    color: black;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding-left: 1%;
    width: 100%;
    float: left;
    width: 79%;
}

#stampa_scheda_record_completa{
    -webkit-print-color-adjust: exact;
}