
/*GENERALI PAGINA*/
* {
    margin: 0;
    padding: 0;
    outline: none;
}

.scroll{
    overflow: scroll;
}

.scroll-x{
    overflow-x:  scroll;
}

.scroll-y{
    overflow-y: scroll;
}

html{
    font-size: 16px;
}

body{
    height: 100%;
    margin: 0px;
    color: #444;
}

:disabled{
    color: #444 !important;
}

body .wrapper{ 
    background-repeat: no-repeat;
    background-position: center center;
    height:100%;
    width: 100%;
}

.content_container{
    height: calc(100% - 60px);
    background-color: #f5f5f5;
}
.content{
    height: 100%;
    width: 100%;
    overflow: hidden;
}






/*POPUP*/
.popup { 
    position: fixed !important;
    display: none;
    padding:10px;
    width:94% !important;
    height: 90% !important;
    top: 4% !important;
    left: 2% !important;
}


/*HEADER*/



#menu_pulsanti{
    margin-top: 13px;
}
#menu_pulsanti .btn_fa{
    height: 36px;
    width: 36px;
    font-size: 35px !important;
    line-height: 36px;
    margin-left: 20px;
}

#menu_pulsanti .btn_fa.btn_fa_scritta{
    height: 36px;
    min-width: 36px;
    width: auto;
    font-size: 20px !important;
    line-height: 36px;
    padding-left: 5px;
    padding-right: 5px;
}

.submenu .btn-flat{
    margin-left: 20px;
    text-align: center;
}

#avatar{
    height: 56px;
    margin-right: 5px;
}

/*CONTENT LOGIN*/
#accedi{
    width: 60px;
    margin: auto;
}

#login .blocco{
    width: 300px;
    margin: auto;
}

/*CONTENT HOME*/
 #home_content
  {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
  }


input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.field label{
    color: #444;
    font-weight: bold;
    font-size: 0.9rem;
    width: 30%;
    display: inline-block;
}


/*MATERIALIZE INIZIO*/

.card{
    margin: 10px;
}

.waves-effect .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: #3993FF;
    }
    
td, th { 
padding: 0px;
padding-left: 5px;
padding-right: 5px;
}

th{
 font-size: 0.9rem;
}
.input-field label{
    left: 0px;
}

.select-dropdown{
    max-height: 400px;
}



.row{
    margin-bottom: 0px;
}

.container .row{
    margin-left: 0px;
    margin-right: 0px;
}
.modal{
    background-color: transparent;
}
.modal.lezione_container{
    max-height: none;
    max-width: none;
    height: 80%;
    width: 90%;
    top: 5% !important;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 0px 0 rgba(0, 0, 0, 0.12);
}

#argomenti .btn-floating{
    height: 25px;
    width: 25px;
}

#argomenti .btn-floating i{
    font-size: 1rem;
    line-height: 25px;
}

textarea.materialize-textarea {
    padding: 1.6rem 0 0;
}

/*MATERIALIZE FINE*/

.card .title{
    color: #3887e7;
    letter-spacing: 0.8px;
    height: 48px;
    white-space: nowrap;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid rgb(57,147,255);
    width: calc(100% - 20px);
    margin-left: 10px;
}
/*FULL CALENDAR INIZIO*/
.fc{
    font-size: 12px;
}
.fc h2{
    font-size: 16px;
}

.fc thead{
    border: 0px;
}

.fc-state-default{
    background-image:none;
    background-color: #3887e7;
    color:white;
    border: 0px;
}
/*FULL CALENDAR FINE*/

/* JQUERY-UI INIZIO */
.ui-widget {
    font-family: inherit;
    font-size: inherit;
}
/* JQUERY-UI FINE*/

.btn_scritta .fa{
    margin-right: 5px;
}

.fa{
    cursor: pointer;
    text-align: center;
    transform: none;
}
/*BUTTON - BOTTONI - PULSANTI*/

.btn_fa{
    height: 16px;
    font-size: 18px !important;
    line-height: 14px;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    font-weight: normal !important;
    float: left;
    margin-left: 5px;
    margin-right: 5px;  
    min-width: 25px;
    color:#3a8bd1;
}


.btn_scritta{
    height: 14px;
    line-height: 14px;
    cursor: pointer;
    display: inline-block;
    padding: 3px;
    vertical-align: middle;
    text-align: center;
    font-weight: normal !important;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    
}





/*SVILUPPO*/

.clearboth{
    clear: both;
}

.submenu_btn{
font-size: 10px;    
}

.btn-flat .submenu_btn:hover{
    border-bottom: 2px solid #3a8bd1; 
}

.btn-flat .submenu_btn.selected{
    border-bottom: 2px solid #3a8bd1; 
}

.badge{
    padding: 10px;
}

.argomento_da_assegnare:hover .btn-floating{
    display: inline-block !important;
}

.argomento_assegnato:hover .btn-floating{
    display: inline-block !important;
}

.header_lezione{
    border-bottom: 1px solid #bcbcbc;
    padding: 10px;
}
.header_lezione label{
    min-width: 80px;
    display: inline-block;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0.0; }
}